extends layout 

block page_title 
  title To jest tytuł tej strony 

block greeting
  h1 Witaj Świecie!

block software_engineer 
  p Niedługo będe Software Inżynierem! 
  img(src="/images/earth.jpg"
        alt="The Earth"
        title="The Earth")